@import "normalize";
@import "variables";
@import "mixins";
@import "base";
@import "buttons";
@import "split_button";
@import "tables";
@import "forms";
@import "header";
@import "user";
@import "footer";
@import "breadcrumbs";
@import "search";
@import "hero";
@import "page_header";
@import "sub-nav";
@import "blocks";
@import "home-page";
@import "recent-activity";
@import "category";
@import "section";
@import "article";
@import "attachments";
@import "share";
@import "comments";
@import "vote";
@import "actions";
@import "community";
@import "striped_list";
@import "status-label";
@import "post";
@import "community_badge";
@import "collapsible-nav";
@import "collapsible-sidebar";
@import "my-activities";
@import "request";
@import "pagination";
@import "metadata";
@import "user-profiles";
@import "search_results";
@import "notifications";
@import "dropdowns";

.search.search-full #query {
    padding: 25px;
    padding-left: 40px;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px transparent;
    transition: .2s;
}

.search.search-full #query:focus {
    outline: none;
}

.search.search-full #query:focus {
    border: 1px solid #fff;
    color: unset;
}

.search.search-full #query:hover {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 65%);
}

.hero {
    background: linear-gradient(170deg,#713cc7,#1b1550);
    padding-top: 70px;
    height: 350px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;

}

h1.head-title {
    color: #fff;
}

.dropdown-menu {
    margin-top: 15px;
}

.user-nav a {
    text-decoration: none;
    color: #fff !important;
}

.header .user-info > button > span {
    color: #fff;
}

.community, .activity {
    border-top: none;
}

.collapsible-sidebar-body {
    margin-top: 20px;
}

main > .container-divider {
    padding-top: 70px;
}
